@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
}

.logo {
  margin-right: 10px;
  border: 1px solid rebeccapurple;
}

ul {
  display: flex;
  list-style: none;
  border: 1px solid red;
  font-size: 20px;
  height: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

/* .font-inter {
} */

li {
  margin-right: 28px;
}

li:last-child {
  margin-right: 0;
}

.pink-text {
  color: #ff3998;
}

.grey-text {
  color: #555555;
}

.black-text {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
button {
  border-radius: 2.5rem;
  background-color: white;
  /* border: 3px solid #ff3998; */
  padding: 23px 56px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
