@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  border: 1px solid rebeccapurple;
}

ul {
  display: flex;
  list-style: none;
  border: 1px solid red;
  font-weight: 400;
  font-size: 20px;
  height: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

/* .font-inter {
} */

li {
  margin-right: 28px;
}

li:last-child {
  margin-right: 0;
}

.pink-text {
  color: #ff3998;
}

.grey-text {
  color: #555555;
}

.black-text {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
button {
  border-radius: 999em;
  background-color: white;
  padding: 23px 56px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.hero {
  position: relative;
  background: url(./assets/graphic.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-info {
  overflow-wrap: break-word;
  /* /* display: flex;
  flex-direction: column; */
  max-width: 620px;
}
h4 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
}
.hero-info-title {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
}
.dont-miss {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 20px;
}
h3 {
  margin-top: 150px;
  margin-bottom: 24px;
  padding-top: 154px;
  padding-left: 64px;
  font-weight: 500;
  font-size: 40px;
}
.background-sign-up {
  font-weight: 400;
  font-size: 20px;
  padding-left: 64px;
  padding-bottom: 64px;
}
.gradient-background {
  background: url(./assets/background.svg);
  background-repeat: no-repeat;
}

.press {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 126px;
}

img {
  margin-right: 106px;
}

img:last-child {
  margin-right: 0;
}
