@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
}

.logo {
  margin-right: 10px;
  border: 1px solid rebeccapurple;
}

ul {
  display: flex;
  list-style: none;
  border: 1px solid red;
  font-size: 20px;
  height: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

/* .font-inter {
} */

li {
  margin-right: 28px;
}

li:last-child {
  margin-right: 0;
}

.pink-text {
  color: #ff3998;
}

.grey-text {
  color: #555555;
}
